<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>jsp20220923</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>listener.chap20.ServletContextListener02</listener-class>
	</listener>


	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	


	<filter>
	<filter-name>filter02</filter-name>
	<filter-class>filter.chap19.filter02</filter-class>
	</filter>
	<filter-mapping>
	<filter-name>filter02</filter-name>
	<url-pattern>/Servlet10</url-pattern>
	</filter-mapping>
	<filter>
	<filter-name>filter05</filter-name>
	<filter-class>filter.chap19.filter05</filter-class>
	</filter>
	<filter-mapping>
	<filter-name>filter05</filter-name>
	<url-pattern>/*</url-pattern>
	</filter-mapping>


	<servlet>
		<servlet-name>Servlet06</servlet-name>
		<servlet-class>servlet.chap17.Servlet06</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Servlet06</servlet-name>
		<url-pattern>/servlet6</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Servlet07</servlet-name>
		<servlet-class>servlet.chap17.Servlet07</servlet-class>
		<init-param>
			<param-name>pw</param-name>
			<param-value>1234</param-value>
		</init-param>
		<init-param>
			<param-name>ip</param-name>
			<param-value>12.34.5678</param-value>
		</init-param>
		<init-param>
			<param-name>userName</param-name>
			<param-value>ay</param-value>
		</init-param>
	</servlet>


	<servlet-mapping>
		<servlet-name>Servlet07</servlet-name>
		<url-pattern>/servlet7</url-pattern>
	</servlet-mapping>
</web-app>






